# Swagger / live API
VITE_BASE_URL=https://api.courseraeducation.com

# Local payin example: VITE_BASE_URL=http://localhost:8085

VITE_API_KEY=

# Payin createOrder credentials
VITE_MERCHANT_APP_ID=ZEpNIaTHy20260712080032636
VITE_MERCHANT_SECRET_ID=NCb+aCsOPig2sbMDbjhOP4xnd2ZPuzjt1f6s6o2nB4g=
VITE_MERCHANT_ID=devendra@payvang.com
