# Swagger: https://api.courseraeducation.com/swagger-ui/index.html
VITE_BASE_URL=https://api.courseraeducation.com

# Required for GET /checkout/params/{orderId}
VITE_API_KEY=your_api_key_here

# Merchant secretskey
VITE_SECRET_KEY=SecretKey
VITE_MERCHANT_SECRET_ID=MerchantSecretId
